asgiref==3.8.1
attrs==25.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
dj-database-url==2.3.0
Django==4.2.11
django-allauth==65.1.0
django-cors-headers==4.4.0
django-heroku==0.3.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
gunicorn==23.0.0
idna==3.8
importlib_resources==6.5.2
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
packaging==24.1
pillow==10.4.0
psycopg2==2.9.10
PuLP==2.9.0
PyJWT==2.9.0
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
sqlparse==0.5.1
swagger-spec-validator==3.0.4
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
whitenoise==6.8.2
